In [1]:
import pandas as pd
import ast

In [2]:
sea_ports = 'ports.csv'
air_ports = 'airports_w_headers_converted.csv'

### Functions

In [3]:
def eval_to_array(value):
    if pd.isna(value):
        return None
    else:
        return ast.literal_eval(value)

### Imports

In [4]:
sea_ports_df = pd.read_csv(sea_ports)
air_ports_df = pd.read_csv(air_ports)

sea_ports_df.columns = sea_ports_df.columns.str.replace(' ', '')
air_ports_df.columns = air_ports_df.columns.str.replace(' ', '')

## Sea Ports Compile

In [5]:
sea_ports_df['coordinates'] =  sea_ports_df['coordinates'].apply(eval_to_array)


sea_ports_df['lat'] = sea_ports_df['coordinates'].apply(lambda x: x[0] if x is not None else None)
sea_ports_df['lon'] = sea_ports_df['coordinates'].apply(lambda x: x[1] if x is not None else None)

In [6]:
sea_ports_df = sea_ports_df.drop(columns = ['coordinates', 'province'], axis=1)

In [7]:
sea_ports_df['type'] = 'seaport'
sea_ports_df

,name,city,country,portCode,lat,lon,type
0,Ajman,Ajman,United Arab Emirates,AEAJM,55.513643,25.405217,seaport
1,Abu Dhabi,Abu Dhabi,United Arab Emirates,AEAUH,54.370000,24.470000,seaport
2,Dubai,Dubai,United Arab Emirates,AEDXB,55.270000,25.250000,seaport
3,Al Fujayrah,Al Fujayrah,United Arab Emirates,AEFJR,56.330000,25.120000,seaport
4,Jebel Ali,Jebel Ali,United Arab Emirates,AEJEA,55.027290,24.985715,seaport
...,...,...,...,...,...,...,...
1629,Coega,Coega,South Africa,ZAZBA,25.670000,-33.770000,seaport
1630,Lusaka,Lusaka,Zambia,ZMLUN,28.322816,-15.387526,seaport
1631,Bulawayo,Bulawayo,Zimbabwe,ZWBUQ,28.626479,-20.132507,seaport
1632,Harare,Harare,Zimbabwe,ZWHRE,31.033510,-17.825166,seaport
1633,Mutare,Mutare,Zimbabwe,ZWUTA,32.650351,-18.975771,seaport

## Air Ports Compile

In [8]:
air_ports_df = air_ports_df.rename(columns = {'latitude': 'lat', 'longitude': 'lon'})

In [9]:
air_ports_df = air_ports_df.drop(columns = ['altitude', 'timezone', 'timezone_name', 'source', 'dst', 'airport_id'])
air_ports_df

,name,city,country,iata,icao,lat,lon,type
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,airport
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789002,airport
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,airport
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,airport
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,airport
...,...,...,...,...,...,...,...,...
7693,Rogachyovo Air Base,Belaya,Russia,NaN,ULDA,71.616699,52.478298,airport
7694,Ulan-Ude East Airport,Ulan Ude,Russia,NaN,XIUW,51.849998,107.737999,airport
7695,Krechevitsy Air Base,Novgorod,Russia,NaN,ULLK,58.625000,31.385000,airport
7696,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,airport
7697,Melitopol Air Base,Melitopol,Ukraine,NaN,UKDM,46.880001,35.305000,airport

## Final Data

In [10]:
df_merged = pd.concat([air_ports_df, sea_ports_df], ignore_index=True, axis=0)

In [11]:
df_merged

,name,city,country,iata,icao,lat,lon,type,portCode
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,airport,NaN
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789002,airport,NaN
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,airport,NaN
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,airport,NaN
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,airport,NaN
...,...,...,...,...,...,...,...,...,...
9327,Coega,Coega,South Africa,NaN,NaN,25.670000,-33.770000,seaport,ZAZBA
9328,Lusaka,Lusaka,Zambia,NaN,NaN,28.322816,-15.387526,seaport,ZMLUN
9329,Bulawayo,Bulawayo,Zimbabwe,NaN,NaN,28.626479,-20.132507,seaport,ZWBUQ
9330,Harare,Harare,Zimbabwe,NaN,NaN,31.033510,-17.825166,seaport,ZWHRE
9331,Mutare,Mutare,Zimbabwe,NaN,NaN,32.650351,-18.975771,seaport,ZWUTA

In [12]:
df_merged.to_csv('allports.csv')